DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/ristorante_db"
NEXTAUTH_SECRET="genera-con-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
SEED_ADMIN_EMAIL="admin@ristorante.it"
SEED_ADMIN_PASSWORD="Password-Sicura-1!"
SEED_ADMIN_NAME="Amministratore"
